.elementStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 2px;
  height: 50px;
}

.elementStyle > p {
  margin-bottom: 0;
  margin-left: 5px;
}

.deleteButton {
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  color: var(--danger);
  transition: 0.5s;
  user-select: none;
}

.deleteButton:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 0.1rem var(--danger));
}
