.App {
  text-align: center;
  font-family: helvetica neue, Arial, Helvetica, Geneva, sans-serif;
}

.search-table {
  margin: 4rem;
  text-align: left;
}

@media (max-width: 800px) {
  .search-table {
    margin: 1rem;
  }
}
